@import 'tl-form';
@import 'colors';
@import 'variables';

:host {
	@extend .horiz-flex;
	background-color: $color_grey;
	border-radius: $app_border_radius;

	&:not(:last-of-type) {
		margin-bottom: 0.25rem;
	}
}
