@import 'colors';
@import 'variables';

.background {
	height: 100%;
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	width: max-content;
	margin: 2rem auto;
	padding: 1rem;
	border-radius: $app_border_radius;
	background-color: $color_white;

	.image {
		width: 30rem;
	}

	.input {
		background-color: $color_white;
		display: flex;
		flex-direction: column;
		width: 100%;

		.login-btn {
			font-size: 8rem;
			height: 8rem;
		}

		.username {
			margin: 0 auto;
			width: 50%;
			height: 3.25rem;
			margin-bottom: 0.5rem;
		}
	}
}
