<div class="wrapper">
	<div class="button-container">
		<button
			mat-fab
			color="primary"
			(click)="openCreateSessionModal()">
			<mat-icon>note_add</mat-icon>
		</button>
	</div>

	<div *ngFor="let model of programStore.models$ | async">
		<div class="year">{{ model.year }}</div>
		<div
			class="week"
			*ngFor="let one of model.weeks">
			<mat-tab-group>
				<mat-tab label="Week {{ one.week }}"></mat-tab>
				<mat-tab
					*ngFor="let session of one.sessions"
					label="{{ session.date | date: 'EEEE, MMMM d' }}">
					<ng-template matTabContent>
						<portal-workout-card [session]="session"></portal-workout-card>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>
