<tl-form-container>
	<tl-form-section type="form">
		<tl-form-field>
			<mat-form-field appearance="standard">
				<mat-label>Session date</mat-label>
				<input
					matInput
					[matDatepicker]="picker"
					[formControl]="date"
					placeholder="{{ 'dateFormat' }}" />
				<mat-datepicker-toggle
					matSuffix
					[for]="picker"></mat-datepicker-toggle>
				<mat-datepicker
					#picker
					[disabled]="false"></mat-datepicker>
				<mat-error *ngIf="date.invalid">Required</mat-error>
			</mat-form-field>
		</tl-form-field>
		<tl-form-field>
			<portal-exercise-select [data]="(exerciseStore.exercises$ | async)!"> </portal-exercise-select>
		</tl-form-field>
		<tl-form-field>
			<mat-form-field appearance="standard">
				<input
					matInput
					type="number"
					placeholder="Weight"
					[formControl]="weight" />
				<mat-error *ngIf="weight.invalid">Required</mat-error>
			</mat-form-field>
		</tl-form-field>
		<tl-form-field type="footer">
			<tl-form-action
				text="Clear"
				icon="clear_all"
				(click)="clearInputs()">
			</tl-form-action>
			<tl-form-action
				text="Add"
				icon="add"
				(click)="addPersonalBest()">
			</tl-form-action>
		</tl-form-field>
	</tl-form-section>
	<tl-form-section type="list">
		<tl-form-field>
			<tl-form-list>
				<tl-form-list-item *ngFor="let one of personalBests$ | async">
					<tl-form-list-info>
						<div>Weight: {{ one.weight }}</div>
						<div>Set on: {{ one.starting | date: 'EEE, MMM d, y' }}</div>
					</tl-form-list-info>
					<tl-form-list-actions>
						<tl-form-list-action
							icon="delete"
							(click)="delete(one)">
						</tl-form-list-action>
					</tl-form-list-actions>
				</tl-form-list-item>
			</tl-form-list>
		</tl-form-field>
	</tl-form-section>
</tl-form-container>
