<portal-data-form-container>
	<portal-data-form-section type="form">
		<portal-data-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Session date</mat-label>
				<input
					matInput
					[matDatepicker]="picker"
					[disabled]="true"
					[formControl]="date"
					placeholder="{{ 'dateFormat' }}" />
				<mat-datepicker-toggle
					matSuffix
					[for]="picker"></mat-datepicker-toggle>
				<mat-datepicker
					#picker
					[disabled]="false"></mat-datepicker>
				<mat-error *ngIf="date.invalid">Required</mat-error>
			</mat-form-field>
		</portal-data-form-field>
		<portal-data-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Exercise type</mat-label>
				<mat-select>
					<mat-option
						*ngFor="let one of exerciseStore.exercises$ | async"
						[value]="one.id">
						{{ one.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</portal-data-form-field>
		<portal-data-form-field>
			<mat-form-field
				class="full-width"
				appearance="fill">
				<input
					matInput
					placeholder="Exercise"
					[formControl]="weight" />
				<mat-error *ngIf="weight.invalid">Select from configured exercises</mat-error>
			</mat-form-field>
		</portal-data-form-field>
		<portal-data-form-field type="footer">
			<portal-data-form-action
				text="Add"
				icon="add"
				(click)="addPersonalBest()">
			</portal-data-form-action>
		</portal-data-form-field>
	</portal-data-form-section>
	<portal-data-form-section type="list">
		<portal-data-form-field>
			<portal-data-form-list>
				<portal-data-form-list-item *ngFor="let one of personalBestStore.personalBests$ | async">
					<portal-data-form-list-info> {{ one.weight }} {{ one.starting }} </portal-data-form-list-info>
					<portal-data-form-list-actions>
						<portal-data-form-list-action
							icon="delete"
							(click)="delete(one)">
						</portal-data-form-list-action>
					</portal-data-form-list-actions>
				</portal-data-form-list-item>
			</portal-data-form-list>
		</portal-data-form-field>
	</portal-data-form-section>
</portal-data-form-container>
