<tl-form-container>
	<tl-form-section type="form">
		<tl-form-field>
			<mat-form-field
				appearance="standard"
				class="input left">
				<input
					matInput
					placeholder="Id"
					[formControl]="exercisesId" />
				<mat-error *ngIf="exercisesId.hasError('required')">Required</mat-error>
				<mat-error *ngIf="exercisesId.hasError('pattern')">Latin characters and underscore only</mat-error>
				<mat-error *ngIf="exercisesId.hasError('unique')">Id must be unique</mat-error>
			</mat-form-field>
		</tl-form-field>
		<tl-form-field>
			<mat-form-field
				appearance="standard"
				class="input left">
				<input
					matInput
					placeholder="Name"
					[formControl]="exercisesName" />
				<mat-error *ngIf="exercisesName.hasError('required')">Required</mat-error>
				<mat-error *ngIf="exercisesName.hasError('pattern')">Latin characters and spaces only</mat-error>
			</mat-form-field>
		</tl-form-field>
		<tl-form-field type="footer">
			<tl-form-action
				text="Add"
				icon="add"
				(click)="submit()">
			</tl-form-action>
		</tl-form-field>
	</tl-form-section>
	<tl-form-section type="list">
		<tl-form-field>
			<tl-form-list>
				<tl-form-list-item *ngFor="let one of store.exercises$ | async; trackBy: trackExerciseType">
					<tl-form-list-info>
						Id: {{ one.id }} <br />
						Name: {{ one.name }}
					</tl-form-list-info>
					<tl-form-list-actions>
						<tl-form-list-action
							icon="delete"
							(click)="delete(one.id)">
						</tl-form-list-action>
					</tl-form-list-actions>
				</tl-form-list-item>
			</tl-form-list>
		</tl-form-field>
	</tl-form-section>
</tl-form-container>
