<div class="container">
	<div class="row input">
		<mat-form-field
			appearance="standard"
			class="input left">
			<input
				matInput
				[formControl]="exercisesId" />
			<mat-error *ngIf="exercisesId.hasError('required')">Required</mat-error>
			<mat-error *ngIf="exercisesId.hasError('pattern')">Latin characters and underscore only</mat-error>
			<mat-error *ngIf="exercisesId.hasError('unique')">Id must be unique</mat-error>
		</mat-form-field>
		<mat-form-field
			appearance="standard"
			class="input left">
			<input
				matInput
				[formControl]="exercisesName" />
			<mat-error *ngIf="exercisesName.hasError('required')">Required</mat-error>
			<mat-error *ngIf="exercisesName.hasError('pattern')">Latin characters and spaces only</mat-error>
		</mat-form-field>
		<div class="btn">
			<button
				mat-icon-button
				(click)="submit()">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>
	<div class="row header">
		<div class="label left">Id</div>
		<div class="label right">Name</div>
	</div>
	<div
		class="row"
		*ngFor="let one of store.exercises$ | async; trackBy: trackExerciseType">
		<div class="label left">
			{{ one.id }}
		</div>
		<div class="label right">
			{{ one.name }}
		</div>
		<div class="btn">
			<button
				mat-icon-button
				(click)="delete(one.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
</div>
