<div class="wrapper">
	<div class="button-container">
		<button
			mat-fab
			color="primary"
			(click)="openCreateSessionModal()">
			<mat-icon>note_add</mat-icon>
		</button>
	</div>

	<div *ngFor="let model of programStore.models$ | async">
		<div class="year">{{ model.year }}</div>
		<div
			class="week"
			*ngFor="let one of model.weeks">
			<mat-tab-group>
				<mat-tab label="{{ one.week }}"></mat-tab>
				<mat-tab
					*ngFor="let session of one.sessions"
					label="{{ session.date }}">
					<ng-template matTabContent>
						<div class="content">
							<div
								class="workout-card mat-elevation-z4"
								*ngIf="session.comment">
								{{ session.comment }}
							</div>
							<div
								*ngFor="let exercise of session.exercises"
								class="workout-card mat-elevation-z4">
								<p>
									<b>{{ exercise.name }}</b>
								</p>
								<div *ngFor="let set of exercise.sets">
									<span>{{ format(set) }}</span>
									<span *ngIf="set.comment">{{ set.comment }}</span>
								</div>
							</div>
						</div>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>
