@import 'tl-form';

.year {
	padding: 1rem;
	font-size: 1.5rem;
}

.button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
