.horizontal-flex {
	display: flex;
	flex-direction: row;
}

.content {
	@extend .horizontal-flex;
}

.workout-card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	height: max-content;
}

.button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
