<div class="container">
	<mat-tab-group class="tabs">
		<mat-tab
			*ngFor="let tab of menuStore.tabs$ | async"
			[label]="tab">
		</mat-tab>
	</mat-tab-group>
	<mat-form-field
		class="trainee"
		appearance="fill">
		<mat-label>Select trainee</mat-label>
		<mat-select
			[value]="selected"
			(selectionChange)="onTraineeSelect($event)">
			<mat-option
				*ngFor="let trainee of menuStore.trainees$ | async"
				value="trainee.username"
				>{{ trainee.name }}</mat-option
			>
		</mat-select>
	</mat-form-field>
</div>
