.container {
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	height: 4rem;

	.navlink {
		text-align: center;
		width: 5rem;

		&.active {
			font-weight: bolder;
		}
	}

	.login-btn {
		margin: 1rem;
		border-radius: 2rem;
	}

	.username {
		margin-left: auto;
		height: 3.25rem;
	}
}
