.container {
	display: flex;
	flex-direction: row;

	.navlink {
		align-self: center;
		text-align: center;
		width: 5rem;

		&.active {
			font-weight: bolder;
		}
	}

	.trainee {
		margin-left: auto;
		height: 3rem;
	}
}
