<div class="container">
	<div
		*ngFor="let tab of menuStore.tabs$ | async"
		[ngClass]="{ navlink: true, active: (currentPage$ | async)?.includes(tab.id) }"
		(click)="onTabSelect(tab.id)">
		{{ tab.text }}
	</div>

	<mat-form-field
		class="trainee"
		appearance="fill">
		<mat-label>Select trainee</mat-label>
		<mat-select
			[value]="menuStore.selectedTrainee$ | async"
			(selectionChange)="onTraineeSelect($event)">
			<mat-option
				*ngFor="let trainee of menuStore.trainees$ | async"
				[value]="trainee"
				>{{ trainee.name }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
