@import '../tl-form.scss';

:host {
	@extend .horiz-flex, .full-width;

	justify-content: center;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&.footer {
		margin-top: auto;
		justify-content: space-evenly;
	}
}
